.DS_Store
*.egg-info
*.o
*.so
*.pyc
*.swp
*.swo
dist
_build
build
.project
.pydevproject
.settings
.externalToolBuilders
.idea
setuptools*
.ipynb_checkpoints
.tox

pymatgen/\.vscode/

.vscode/

tests/data/Sr3PbO/atomic_proj.xml
# Cruft from e.g., testing with sumo
tests/data/*/*.pdf
tests/data/*/*.png
tests/data/*/*_dos.dat
tests/data/*/band.dat
tests/data/*/*.log

site/*
