.DS_Store
*.egg-info
*.o
*.so
*.pyc
*.swp
*.swo
dist
_build
build
.project
.pydevproject
.settings
.externalToolBuilders
.idea
setuptools*
.ipynb_checkpoints
.tox

pymatgen/\.vscode/

.vscode/

pymatgen/io/espresso/tests/data/Sr3PbO/atomic_proj.xml

pymatgen/io/espresso/tests/data/*/*.pdf
pymatgen/io/espresso/tests/data/*/*.png
pymatgen/io/espresso/tests/data/*/*.dat
pymatgen/io/espresso/tests/data/*/*.log
